<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
        <h1>Halaman Add Group Member</h1>
        <a href="/group">Back to Group</a>
        <form class="" action="/group/add/<%=data.id%>" method="POST">
            <input type="text" name="name_of_group" value="<%=data.name_of_group%>">
            <select name="ContactsId">
                <%datacontacts.forEach(row =>{%>
                    <option value="<%=row.id%>"><%=row.name%></option>
                <%})%>
            </select>
            <input type="submit" value="SUBMIT">
        </form>
</body>
</html>