<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title%>
    </title>
</head>

<body>
    <h1>Halaman Profile Edit</h1>
    <a href="/">Back to Home</a>
    <form class="" action="/profile/edit/<%=data[0].id%>" method="POST">
        Username <br>
        <input type="text" name="username" value="<%=data[0].username%>">
        <br> Password
        <br>
        <input type="text" name="password" value="<%=data[0].password%>">
        <br> Contacts Name
        <br>
        <select name="ContactsId">
            <%cons.forEach(z =>{%>
            <option value="<%=z.id%>"><%=z.name%></option>
        <%})%>
      </select>
        <input type="submit" value="EDIT">
    </form>
</body>

</html>